/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.error-alert {
    color: red;
}

.container {
    padding-bottom: 10px;
}

.save-alert {
    color: green;
    padding-top: 10px;
}

button:disabled {
    cursor: not-allowed;
}

.page-title {
    display: inline-block;
    margin-bottom: 20px;   
}

.float-right {
    float: right;
}

.loading-spinner-container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    margin-bottom: 20px;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
}

.field-note {
    font-size: 0.8em;
    color: gray;
}

.button-group {
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin-bottom: 10px;
}

.expand-button {
    display: block;
    margin-bottom: 10px;
}

.expand-button-expanded {
    padding: 0;
}

.details-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.details-box {
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
}

.paging {
    display: flex;
    justify-content: center;
}

.paging span {
    text-align: center;
}

.paging div {
    display: flex;
    align-items: center;
}

.paging-button-container {
    width: 60px;
}

.paging-button-container button {
    font-size: 2em;
}

.paging div:nth-of-type(2) {
    justify-content: center;
}

.paging div:nth-of-type(3) {
    justify-content: flex-end;
}

.buttons-column {
    display: flex;
    gap: 5px;
}